
.backHome {
    display: flex;
    width: 100vw;
    height: calc(100vh - 25px);
    overflow: hidden;
}
.backHome-container {
    width: 600px;
    margin-top: 1.5rem;
    background-color: white;

}
.backHome-list {
    height: 700px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
